APP_NAME="Dialect Sentiment Swap"
APP_VERSION="0.1.0"

ENVIRONMENT="local"
PROJECT_ROOT="."


######### DATA ##############
RAW_DATA_DIR="data/raw"
PROCESSED_DATA_DIR="data/processed"

RAW_TRAIN_FILE="train.xlsx"
RAW_EVAL_FILE="eval.xlsx"

PROCESSED_TRAIN_FILE="train.jsonl"
PROCESSED_EVAL_FILE="eval.jsonl"