.env
__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/*
data/processed/*
models/*
predictions/*
outputs/*
experiments/*
submissions/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!outputs/.gitkeep
!experiments/.gitkeep